.footer{
    background-color: white;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    font-family: "Montserrat", sans-serif;

    .icons{
        flex:1;
        display: flex;      
        margin-left: 60px;

        img{
            margin-right: 20px;
        }
    }

    .whatsapp{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        font-size: 18px;
        
        img{
            margin-right: 10px;
        }
    }

    .localizacao{
        flex:1;
        display: flex;
        align-items: center;
        margin-right: 50px;
        margin-left: 60px;
        font-size: 14px;
        width: 344px;

        img{
            margin-right: 10px;
        }
    }
}