.intro{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .left{
        
        .textBox{
            width: 497px;
            height: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
        }

        h1{
            font-size: 72px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        
        span{
            font-size: 18px;
            font-weight: 400;
            text-align: justify;
        }

        button{
            margin-top: 20px;
            width: 256px;
            height: 40px;
            background-color: #FF774E;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 16;
            font-weight: 500;
        }
    }

    .right{

        img{
            height: 91vh;
        }
    }
}