.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;

  .left {
    display: flex;
    justify-content: space-around;
    flex: 1;

    span {
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: rgba(255, 119, 78, 0.2);
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
      }
    }
  }

  .middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .btEntrar {
      margin-right: 30px;
      background-color: white;
      border: solid 1px #ff774e;
      width: 190px;
      height: 36px;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        color: white;
        background-color: #ff774e;
        border: solid 1px white;
      }
    }
  }
}
